body {
   max-width: 1440px;
   margin: auto;
}

.logo {
   width: 268px;
   height: 93px;
}

.form-label {
   display: none;
 }

article {
   display: flex;
   justify-content: center;
}


.container {
   &-form, &-dropdown, &-recipes  {
      margin: 20px 100px;
   }

}

